.footdt{
	color:white;
	padding-top:2%; 
	font-size:2em;
}
.footdd{
	color:rgb(134,137,139);
	padding-top:2%;
	
}
.footdd a{
	text-decoration:none;
	color:rgb(134,137,139);
	font-size:1.2em;
	line-height:1.8em;

}
.footdd p{
	line-height:2em;
	color:rgb(134,137,139);
	font-size:1.2em;
}
.footdd a:hover{
	text-decoration:none;
	color:white;
}
.footp{
	text-align: center;
}
.imga{

	padding-top:20%;
}
.address{
	text-align: center;
	color: rgb(134,137,139);
}