*{
		color:black;

	}
		#logopic{
			margin-left:18%;
		}
		#add-del{
			margin-left:5%;
		}
		#admin-table{
			margin-top:3%;
			margin-left:5%;
		}
		.pagination{
			padding-top:5%;
			margin-left:65%;
		}
		#admin-footer{

			background:rgb(0,112,189);
			margin-top:10px;
		}
		#admin-footer #admin-p{
			padding-top:2%;
			
		}
		nav #bs-example-navbar-collapse-1{
			background:rgb(0,112,189);


		}
		nav #bs-example-navbar-collapse-1 ul li a{
			color:white;
		}
		#admin-list .active{
			background-color:gray;
		}
		/**/
#admin-table{
	margin-top:0;
}
#admin-admin h2{
      margin-left:8%;
    }

    .list-group-item a{ 
      color:black;
    }
    .list-group-item a:hover{
      color:blue;
      text-decoration:none;
    }
form table{
    margin-left:10%;
    border-collapse:   separate;
    border-spacing:   10px;
}

form table tr td{
    font-size:1.5rem;
}
form table tr td span{
    color:red;
}
form table tr td button{
    margin-left:20%;
}
     #add-del a{
    	color:black;
    	
    }
    #add-del a:hover{
    	color:black;
    	text-decoration:none;
    }