
              <div class="col-md-10 column">
                <ul class="breadcrumb">
                  <li><a href="{:U('index/index')}">首页</a></li>
                
                  <li class="active">修改密码</li>
                </ul>
                
              
                   <div class="row" id="admin-admin"><h2>修改密码</h2></div>
                <div class="row">
                   <form method="post" action="__MODULE__/admin/doPass">
                    <table>
                            <tr>
                                <td>用户名称:<span>*</span></td>
                                <td>&nbsp;</td>
                                <td><input type="text" name="username" id="admin-username" value="1" readonly></td>
                            </tr>
                            <tr>
                                <td>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:<span>*</span></td>
                                <td>&nbsp;</td>
                                <td><input type="password" name="password" id="admin-password" value=""></td>
                            </tr>
                            <tr>
                                <td>确认密码:<span>*</span></td>
                                <td>&nbsp;</td>
                                <td><input type="password" name="repassword" id="admin-repassword" value=""></td>
                            </tr>
                            

                            <tr>
                                <td><button type="submit" class="btn btn-info btn-default" id="save">保存</button></td>
                                <td>&nbsp;</td>
                                <td><button type="button" class="btn btn-info btn-default" id="cancle" onclick="history.back(-1)">取消</button></td>
                            </tr>
                        </table>
                  
                  </form>
                </div> 

                
              </div>
            </div>
          </div>
	 </div>
<script src="__PUBLIC__/after/js/save.js"></script>
