.container{
			background-color:gray;
			margin-top:10%;
			margin-bottom:30%;
			width:50%;
		}
		p{
			font-size:3em;
			margin-top:16%;
		}
		#denglu{
			padding-top:11%;
			padding-left:7%; 
			padding-bottom:30%;
		}
		#userpwd{
			margin-top:-5%;
			margin-bottom:5%;
		}
		#userpwd input{
			width:75%;
		}
		#userpwd #yanzheng input{
			width:35%;
		}
		#userpwd #picture{
			color:blue;
		}
		#admin_btton{
			color:black;
		}