
              <div class="col-md-10 column">
                <ul class="breadcrumb">
                  <li><a href="__MODULE__/Index/index">首页</a></li> 
                
                  <li class="active"></li>
                </ul>

                <div class="row" id="welcome">          
                    <div class=" col-md-1 column">
                   
                    </div>
                    <div class="col-md-11 column">
                    <p>
                     欢迎登陆博学苑网站后台
                    </p>
                    </div>
                </div> 
                <div id="message" class="row"> 
                      <h2>网站信息：</h2>
                      <h3>网站版本：</h3>
                      <p>博学网站V1.0版本</p>
                   
                      <h3>网站定位：</h3>
                      <p>该网站面向各高校高中学生和老师，使其可以在网上学习</p>
                      <h3>网站兼容性：</h3>
                      <p>兼容谷歌浏览器，火狐等浏览器，不兼容IE9以下版本及360浏览器</p>
                </div>
                
              </div>
            </div>
          </div>
	</div>
	


